{{!-- <BsNavbar
 @type="dark"
 @backgroundColor="dark"
 as |navbar|>
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand pl-3" }}

      Albuquerque Car Sale{{/link-to}}
  </div>
  <navbar.content class="navbar-right">
    <navbar.nav as |nav|>
      <nav.item>
      </nav.item>
      <nav.item>
      </nav.item>
      <nav.item>
      </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar> --}}
        <LinkTo @route="vehicles">Cars</LinkTo>
        <LinkTo @route="contact">Contact Us</LinkTo>
        <LinkTo @route="about">About</LinkTo>