{{!-- <div
 @type="dark"
 @backgroundColor="dark"
 as |navbar|>
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand pl-3" }}

      Albuquerque Car Sale{{/link-to}}
  </div>
  <navbar.content class="navbar-right">
    <navbar.nav as |nav|>
      <nav.item>
        <nav.link-to @route="vehicles">Cars</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="about">About</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="contact">Contact Us</nav.link-to>
      </nav.item>
    </navbar.nav>
  </navbar.content>
</div >
Header --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Car Sale</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <LinkTo class="nav-link" @route="index">Home</LinkTo>
        </li>
        <li class="nav-item">
          <LinkTo class="nav-link" @route="vehicles">Cars</LinkTo>
        </li>
        <li class="nav-item">
          <LinkTo class="nav-link" @route="about">About</LinkTo>
        </li>
        <li class="nav-item">
          <LinkTo class="nav-link" @route="contact">Contact Us</LinkTo>
        </li>
      </ul>
    </div>
  </div>
</nav>