
<div class="cars">
  <div class="container-fluid other-pages-background">
    <div class="row">
      <div class="col-md text-center">
        <h2>Cars</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="car-items">
      <ul class="results">
        {{#each @model as |car|}}
          <li><Car @car={{car}} /></li>
        {{/each}}
      </ul>
    </div>
    <div class="row">
      <div class="col-md-">
        <LinkTo @route="about" class="button">About Us</LinkTo>
      </div>
      <div class="col-md">
        <LinkTo @route="contact" class="button">Contact Us</LinkTo>
      </div>
    </div>
  </div>
</div>
