<div class="index-background-image fluid">
  <div class="container">
    <div class="row">
      <div class="col-md title-index">
        <h2>Welcome to best place in Albuquerque to buy best cars!</h2>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h1>YOUR BEST ALBUQUERQUE CAR DEALERSHIP!</h1>
    <p>
      Come visit us if you are looking for quality cars, trucks, and SUVs in ABQ! For 59 years, We have been
      serving up great deals to fit your needs as the Albuquerque. New and used cars like Ford, Tesla, Toyota, Subaru,
      Mercedes, BMW, VW, and many more. Find your car or truck
      at the best Car DealerShip, located in beautiful Albuquerque, New Mexico!</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Find you next car!</h2>
      <p>We are the leading dealership for new cars and trucks in all of New Mexico. We are capable of giving
        you the best financing options and selection in the state, so come test drive a new car or truck and see why we
        are Albuquerque’s favorite Ford dealership – and be sure to check out our Commercial Vehicles too! </p>
      <p><a class="btn btn-default" href="vehicles" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-6">
      <h2>Sell your car throw us!</h2>
      <p>Our used car inventory is stocked and ready to be test driven! Our internet pricing is sure to give you the
        best
        deal around, so come by and try a used Ford Mustang, Escape, Fusion, or one of many other car brands and models.
        Also, be sure to check out our parts department for deals on accessories and special parts offers.</p>
      <p><a class="btn btn-default" href="post-car" role="button">View details &raquo;</a></p>
    </div>
  </div>
  <hr>
</div>
