<NavBar/>
<div class="about-us">
  <div class="container-fluid other-pages-background">
    <div class="row">
      <div class="col-md text-center">
        <h2>The latest models at Albuquerque Car Sale.</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="car-items">
      <ul class="results">
        <li>
          {{#each @model as |car|}}
            <li><Car @car={{car}} /></li>
          {{/each}}
        </li>

      </ul>
    </div>
    <div class="row">
      <div class="col-md-">
        <LinkTo @route="about" class="button">About Us</LinkTo>
      </div>
      <div class="col-md">
        <LinkTo @route="contact" class="button">Contact Us</LinkTo>
      </div>
    </div>
  </div>
</div>