
<div class="cars">
  <div class="container-fluid other-pages-background">
    <div class="row">
      <div class="col-md text-center mt-5">
        <h2>Cars Sale In Albuquerque</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="car-items">
      <ul class="results">
        {{#each @model as |vehicle|}}
          <li><Vehicle @vehicle={{vehicle}} /></li>
        {{/each}}

      </ul>
    </div>
  </div>
</div>

